
 .container2{
  padding: 0%;
  background-color: #111;
  color: white; 
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
 }
 .container{
  padding: 0%;
  height: 100%;
 }

.main {
  width: 70%;
  background-color: #1a1a1a;
}

h1 {
  font-size: 4em;
  color: #70ff00;
  margin:0;
  font-family: "a r i a l", serif;  
  font-weight: 400;
 
}

.apellido{
   color: #70ff00;
    margin:0;
    font-size: 3.5em;
}

h3 {
  color: #ccc;
  font-weight: 400;
  margin:0;
  font-size: 1.5em;
  
}

.me{
  color:#000;
}
.highlight {
  color: #a5ff00;
  
}

.informacion {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;

  
}
.informacion p {
  margin: 5px 0;
 color: #000;
}

.informacion h3 {
  margin: 10px 0;
  color:#000;
  font-size: 1.5em;
  font-weight: 700;
  
}

.language-skill {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.language-skill p {
  margin-right: 10px;
  font-size: 1em;
  color: #000;
}

.dots {
  display: flex;
  gap: 5px;
}

.dot {
  width: 10px;
  height: 10px;
  background: #000;
  border-radius: 50%;
}

.dot.filled {
  background: #affd73;
}

.dot.filled.negro {
  background: #000;
}

.job-entry {
  margin-bottom: 20px;
}

.job-entry span {
  display: block;
  font-size: 0.9em;
  color: #aaa;
}

.imagen-redonda {
  width: 150px; 
  height: 150px; 
  border-radius: 50%;  
  object-fit: cover;  
  margin-bottom: 20px; 
}

.perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.perfil h1, .perfil h3 {
  margin: 5px 0;
}

.perfil .informacion {
  padding-top: 20px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container {
  display: flex;
  flex-direction: column;
  
}

.hobbies{
 display: grid;
 grid-template-columns:1fr 1fr;

}

.hobbies i{
  font-size: 64px ;
}

.me{
  width: 300px ;
  background: #70ff00;
}

.me h2{
  margin:2px;
}

.edu{
  width: 300px ;
  background: #70ff00;
}
 
.edu h2{
  margin:2px;
  color:#000;
}

.cacion{
  width: 300px ;
  background: #70ff00;
}

.cacion h2{
  margin:2px;
  color:#000;
}

.edu {
  width: 300px;
  background: #70ff00;
  padding: 10px;
}

.job-entry {
  position: relative;
  padding-left: 30px; /* Espacio para el punto y la línea */
  margin-bottom: 0; /* Espaciado entre elementos */
}

.job-entry::before {
  content: "";
  position: absolute;
  left: 10px; /* Ubicación del punto */
  top: 5px; /* Ajuste vertical */
  width: 10px; /* Tamaño del punto */
  height: 10px; /* Tamaño del punto */
  background-color: #70ff00; /* Color del punto */
  border-radius: 50%; /* Hace que sea un círculo */
  z-index: 1; /* Asegura que esté sobre la línea */
}

.job-entry::after {
  content: "";
  position: absolute;
  left: 13px; /* Centrado con el punto */
  top: 0px; /* Inicia desde arriba */
  width: 3px; /* Grosor de la línea */
  height: 100%; /* Largo de la línea */
  background-color: #70ff00; /* Color de la línea */
}

/* Oculta la última línea */
.job-entry:last-child::after {
  display: none;
}


.job-entry1 {
  position: relative;
  padding-left: 30px; /* Espacio para el punto y la línea */
  margin-bottom: 0; /* Espaciado entre elementos */
}

.job-entry1::before {
  content: "";
  position: absolute;
  left: 10px; /* Ubicación del punto */
  top: 5px; /* Ajuste vertical */
  width: 10px; /* Tamaño del punto */
  height: 10px; /* Tamaño del punto */
  background-color: #70ff00; /* Color del punto */
  border-radius: 50%; /* Hace que sea un círculo */
  z-index: 1; /* Asegura que esté sobre la línea */
}

.job-entry1::after {
  content: "";
  position: absolute;
  left: 13px; /* Centrado con el punto */
  top: 0px; /* Inicia desde arriba */
  width: 3px; /* Grosor de la línea */
  height: 100%; /* Largo de la línea */
  background-color: #70ff00; /* Color de la línea */
}

/* Oculta la última línea */
.job-entry1:last-child::after {
  display: none;
}




body {
  margin: 0;
  font-family: sans-serif;
  background-color: #111;
  color: white;
  display: flex;
  width: 50%;
 

}

.main {
  width: 70%;
  padding: 30px;
  background-color: #1a1a1a;
}

h1 {
  font-size: 4em;
  color: #70ff00;
  margin:0;
  font-family: "a r i a l", serif;  
  font-weight: 400;
 
}

.apellido{
   color: #70ff00;
    margin:0;
    font-size: 3.5em;
}

h3 {
  color: #ccc;
  font-weight: 400;
  margin:0;
  font-size: 1.5em;
  padding: 10px;
  
}

.me{
  color:#000;
  
}
.highlight {
  color: #a5ff00;
  
}

.informacion {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;

  
}
.informacion p {
  margin: 5px 0;
 color: #000;
}

.informacion h3 {
  margin: 10px 0;
  color:#000;
  font-size: 1.5em;
  font-weight: 700;
  
}

.language-skill {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.language-skill p {
  margin-right: 10px;
  font-size: 1em;
  color: #000;
}

.dots {
  display: flex;
  gap: 5px;
}

.dot {
  width: 10px;
  height: 10px;
  background: #000;
  border-radius: 50%;
}

.dot.filled {
  background: #affd73;
}

.dot.filled.negro {
  background: #000;
}

.job-entry {
  margin-bottom: 20px;
}

.job-entry span {
  display: block;
  font-size: 0.9em;
  color: #aaa;
}

.imagen-redonda {
  width: 150px; 
  height: 150px; 
  border-radius: 50%;  
  object-fit: cover;  
  margin-bottom: 20px; 
}

.perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.perfil h1, .perfil h3 {
  margin: 5px 0;
}

.perfil .informacion {
  padding-top: 20px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container {
  display: flex;
  flex-direction: column;
  
}

.hobbies{
 display: grid;
 grid-template-columns:1fr 1fr;

}

.hobbies i{
  font-size: 64px ;
}

.me{
  width: 300px ;
  background: #70ff00;
}

.me h2{
  margin:2px;
}

.edu{
  width: 300px ;
  background: #70ff00;
  padding: 1px;
  margin: 10px;
}
 
.edu h2{
  margin:2px;
  color:#000;
}

.cacion{
  width: 300px ;
  background: #70ff00;
  padding: 1px;
  margin: 10px;
}

.cacion h2{
  margin:2px;
  color:#000;
}

.edu {
  width: 300px;
  background: #70ff00;
  padding: 1px;
}

.job-entry {
  position: relative;
  padding-left: 30px; 
  margin-bottom: 0; 
}

.job-entry::before {
  content: "";
  position: absolute;
  left: 10px; 
  top: 5px; 
  width: 10px; 
  height: 10px; 
  background-color: #70ff00; 
  border-radius: 50%; 
  z-index: 1; 
}

.job-entry::after {
  content: "";
  position: absolute;
  left: 13px; 
  top: 0px; 
  width: 3px; 
  height: 100%; 
  background-color: #70ff00; 
}




.job-entry1 {
  position: relative;
  padding-left: 30px; 
  margin-bottom: 0; 
}

.job-entry1::before {
  content: "";
  position: absolute;
  left: 10px; 
  top: 5px; 
  width: 10px;
  height: 10px; 
  background-color: #70ff00; 
  border-radius: 50%; 
  z-index: 1; 
}

.job-entry1::after {
  content: "";
  position: absolute;
  left: 13px; 
  top: 0px;
  width: 3px; 
  height: 100%;
  background-color: #70ff00; 
}

.job-entry1 strong{
  padding: 10px;
}

.job-entry1 {
  margin-bottom: 20px;
}

.job-entry1 span {
  display: block;
  font-size: 0.9em;
  color: #aaa;
}